 body{ 
    background-color: #D8BFD8; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    }

    .container{
      width: 80%
      margin-left: auto;
      margin-right: auto;
    }

   header, footer {
     background-color: rgba(255,105,180,0.6);
     padding: 2%;
     width: 105%;
    }

    .titulo{
      text-align: center;
       

    }

    h1{
    text-align: center;
    font-size: 2em;
    margin-top: 2%;
    margin-bottom: 2%;
    }

    h2{
     text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
     margin-top: 2%;
    margin-bottom: 2%; 
    }

    figure{
       text-align: center;
      
    }

     p{ 
      text-align:justify; 
        font-size: 1.3em;
        margin-top: 1.5%;
    margin-bottom: 1.5%;

      }

      ul li{
      text-decoration: underline;
      color: #191970;
      font-weight:bolder; 
       margin-top: 1.2%;
      margin-bottom: 1.2%;
       font-size: 1em;
      }
      a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
ol li { font-weight:bolder;
  font-size: 20px
   margin-top: 1.2%;
      margin-bottom: 1.2%;
      font-size: 1em;
   }

table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        widows: 100%;
        font-size: 20px
        font-weight: bolder;
        width: 100%
}
td{
  text-align: center;
}

th {
  font-size: 25px
}

.tabela{
  text-align: center;
  border: 1px solid
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #BA55D3
}
  
  .centro{
      text-align: center;
  }